/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#bcbcd0; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper{
	min-height: 100%;
}
.wrapper:after{
	content: '';
	height: 275px;
}
.container{
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-icon-img{
	float: left;
	display: table;
	width: 70px;
	height: 105px;
	text-align: center;
	background: #000;
	margin-right: 15px;

}
.wrap-icon-img span{
	display: table-cell;
	vertical-align: middle;
}
.lasting-connection{
	float: left;
	background-color: #7d7d8a;
	padding: 5px 0 25px 0;
	width: 50%;

}
.fon-block-background{
	float: right;
	background-color: #71717d;
	width: 50%;
}
.big-number-text{
	font-size: 20px;
	font-weight: bold;
	color: #333334;
	display: block;
	overflow: hidden;margin: 20px 0 10px 0;
}
.small-number-text{
	color: #333334;
}
.fon-block{
	float: right;
	padding-right: 30px;
}
.background-width{
	background-color: #8a8a99;
}
.block-left{
	color: #007245;
	font-size: 35px;
	font-weight: bold;
	float: left;
	margin: 20px 0 30px 0;
}
.block-right{
	float: right;
}
.text{
	width: 270px;
	color: #8e8e8e;
	padding: 11px 5px 15px 20px;
	font-size: 15px;
	margin: 20px 0 30px 0;
}
.button{
	border: none;
	text-indent: -9999px;
	background: url("../images/content/icon_btn.png");
	width: 50px;
	height: 48px;
	float: right;
	margin: 20px 0 30px 0;
}
.block-margin-bottom{
	margin-bottom: 15px;
}
.text-block-center{
	font-size: 16px;
	margin: 32px 0 0 100px;
	display: inline-block;
}
.logo{
	width: 200px;
	height: 80px;
	background-color: #000000;
	float: left;
	margin: 10px 0 20px 0;

}
.account{
	border: 1px solid #5c5c66;
	float: left;
	margin-top: 60px;
}
.text-block-account{
	font-weight: bold;
	font-size: 14px;
	border-right: 1px solid #000000;
	padding: 2px 10px 0 10px;
	display: inline-block;
}
.text-block-account-two{
	font-weight: bold;
	font-size: 14px;
	border-right: 1px solid #000000;
	padding: 2px 10px 0 10px;
}
.text-block-account-three{
	font-size: 14px;
	color: #5a5a64;
	padding: 2px 80px 0 10px;
}
.logo-account{
	width: 150px;
	height: 50px;
	background-color: #000000;
	float: left;
	margin: 30px 0 10px 0;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

.footer{
	overflow: hidden;
	background-color: #7d7d8a;
	border-top: 1px solid #46464d;
	padding: 20px 0;
	margin-top: -275px;
}
.title-block{
	float: left;
	width: 280px;
	margin-right: 35px;
}
.header-block{
	font-weight: bold;
	font-size: 20px;
	color: #037244;
	margin-bottom: 25px;
	display: block;
}
.title-block li{
	margin-bottom: 18px;
}
.title-block a{
	text-decoration: none;
	font-size: 16px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/