/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#bcbcd0 !important; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper{
	min-height: 100%;
}
.wrapper:after{
	content: '';
	height: 275px;
	display: block;
}
.container{
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header .left {
	float: left;
}
.header .background-black {
	float: right;
	position: relative;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-icon-img{
	float: left;
	display: table;
	width: 70px;
	height: 109px;
	text-align: center;
	background: #000;
	margin-right: 15px;

}
.wrap-icon-img span{
	display: table-cell;
	vertical-align: middle;
}
.lasting-connection{
	float: left;
	background-color: #7d7d8a;
	padding: 5px 0 25px 0;
	width: 50%;
	margin-bottom: 40px;
}
.fon-block-background{
	float: right;
	background-color: #71717d;
	width: 50%;
	margin-bottom: 40px;
}
.big-number-text{
	font-size: 20px;
	font-weight: bold;
	color: #333334;
	display: block;
	overflow: hidden;margin: 20px 0 10px 0;
}
.small-number-text{
	color: #333334;
}
.fon-block{
	float: right;
	padding-right: 30px;
}
.background-width{
	background-color: #8a8a99;
	margin-top: 40px;
}
.block-left{
	color: #007245;
	font-size: 35px;
	font-weight: bold;
	float: left;
	margin: 20px 0 30px 0;
}
.block-right{
	float: right;
}
.text{
	width: 270px;
	color: #8e8e8e;
	padding: 11px 5px 13px 20px;
	font-size: 15px;
	margin: 20px 0 30px 0;
}
.button{
	border: none;
	text-indent: -9999px;
	background: url("../images/content/icon_btn.png");
	width: 50px;
	height: 48px;
	float: right;
	margin: 20px 0 30px 0;
}
.block-margin-bottom{
	margin-bottom: 15px;
}
.block-margin-bottom{
	text-align: center;
}
.text-block-center{
	font-size: 16px;
	margin-top: 32px;
	display: inline-block;
}
.logo{
	background-color: #000000;
	float: left;
	margin: 10px 0 20px 0;
}
.logo img {
	width: 190px;
	height: 80px;
}
.account{
	border: 1px solid #5c5c66;
	float: left;
	margin: 60px 0 0 10px;
}
.text-block-account{
	font-weight: bold;
	font-size: 14px;
	border-right: 1px solid #000000;
	padding: 2px 10px 0 10px;
	display: inline-block;
}
.text-block-account-two{
	font-weight: bold;
	font-size: 14px;
	border-right: 1px solid #000000;
	padding: 2px 10px 0 10px;
}
.text-block-account-three{
	font-size: 14px;
	color: #5a5a64;
	padding: 2px 80px 0 10px;
}
.logo-account{
	width: 170px;
	height: 65px;
	background-color: #000000;
	float: left;
	margin: 30px 0 10px 0;
}
.nav-header{
	float: right;
	margin: 20px 10px 0 0;
}
.nav-header a{
	color: #000;
	text-decoration: none;
}
.nav-header li{
	display: inline-block;
	margin-left: 20px;
}
.nav-header li:last-child{
	margin-left: 0;
}
.background li{
	display: inline-block;
	margin-right: 20px;
}
.background{
	padding: 20px 0;
	text-align: center;
}
.background a{
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
}
.background{
	background-color: #7d7d8a;
	margin-bottom: 20px;
	position: relative;
}
.background-black{
	background-color: #000;
	display: inline-block;
	margin-top: 10px;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.search-line{
	width: 380px;
	border-radius: 6px;
	padding: 10px 120px 10px 15px;
	margin: 10px 15px;
	border: none;
}
.search-button{
	position: absolute;
	bottom: 13px;
	right: 19px;
	background: url("../images/content/gradient.png");
	border: none;
	border-radius: 5px;
	padding: 7px 20px;
	color: #fff;
}
.background-white{
	background-color: #fff;
	padding: 0 0 1px 0;
}
.background-white li{
	display: inline-block;
}
.background-white li:before{
	content: ' / ';
}
.background-white li:first-child:before{
	content: '';
}
a.activity{
	color: #007041;
	font-size: 12px;
	font-weight: bold;
}
.background-white a{
	text-decoration: none;
}
.background-white a:hover{
	text-decoration: none;
}
.model{
	color: #000;
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
}
.code{
	font-size: 12px;
	color: #655f58;
	margin-bottom: 20px;
	display: block;
}
.price{
	font-size: 16px;
	color: #de0000;
	margin-bottom: 20px;
	display: block;
	font-weight: bold;
}
.star-rating{
	border-bottom: 2px solid #f7f7f8;
	padding-bottom: 20px;
	margin-bottom: 25px;
}
.star-rating span{
	font-size: 10px;
	color: #655f58;
}
.name-photo{
	color: #000;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
	display: block;
}
.drop-down-block{
	border-radius: 5px;
	padding: 5px 10px;
	width: 150px;
	display: block;
	margin-bottom: 20px;
}
.quantity{
	padding: 8px;
	width: 44px;
	font-weight: bold;
	font-size: 17px;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: none;
	text-align: center;
	vertical-align: top;
	display: inline-block;
}
.add-tocart{
	padding: 6px 55px;
	color: #fff;
	background-color: #cd7d35;
	border-radius: 5px;
	border: 2px solid #eeaf5b;
	font-size: 18px;
	vertical-align: top;
	display: inline-block;

}
.available-stock{
	display: block;
	background-color: #df221f;
	border-radius: 5px;
	border: none;
	color: #fff;
	padding: 5px 10px;
	font-size: 12px;
	margin-bottom: 15px;
}
.add-products{
	font-style: italic;
	font-size: 13px;
	display: block;
	font-weight: bold;
	margin-bottom: 25px;
}
.background-white-tou{
	background-color: #fff;
	width: 150px;
	text-align: center;
}
.block-background-white{
	background-color: #fff;
}
.block-text-doesntfit{
	color: #5a85b7;
	font-size: 13px;
}
.block-background-gray{
	background-color: #dcddde;
}
.block-background-gray {
	text-align: center;
	font-size: 13px;
}
.block-green-letter{
	color: #097441;
	font-weight: bold;
}
.block-blue-letter{
	color: #1157a0;
	font-weight: bold;
}
.slider-wrap {
	float: left;
	width: 670px;
}
.icon-iron{
	margin-top: 240px;
}
.slider-wrap .carousel-indicators li {
	width: 55px;
	height: 55px;
	padding: 3px;
	border: 1px solid #c9c9ca;
	text-indent: 0;
	border-radius: 0;
	background: transparent;
}
.slider-wrap .carousel-indicators li:hover,
.slider-wrap .carousel-indicators .active{
	border-color: #5b84da;
}
.carousel-inner{
	position: relative;
}
.slider-wrap .carousel-indicators{
	position: absolute;
	bottom: -90px;
}
.slider-wrap .carousel-indicators img {
	width: 100%;
}
.star-rating ul{
	display: inline-block;
}
.star-rating li .no-star{
	text-indent: -9999px;
	display: inline-block;
}
.star-rating li{
	display: inline-block;
	background: url("../images/content/icon_star.png");
	width: 12px;
	height: 12px;
	text-indent: -999px;
}

.float-l{
	float: left;
	width: 470px;
	padding-left: 20px;
}
.wrap-background{
	overflow: hidden;
	background-color: #aaaabc;
}
.text-step-back a{
	color: #000;
	font-weight: bold;
	font-size: 11px;
	display: block;
	margin: 20px 0 15px 0;
	text-decoration: none;
}
.background-white-tou a{
	display: block;
	text-align: center;
	text-decoration: underline;
	color: #a4a4a4;
	font-size: 11px;
	padding-bottom: 3px
}
.navigation-menu-updates a{
	display: block;
	color: #000;
	padding: 15px 25px;
	background-color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.navigation-menu-updates li{
	margin-right: 2px;
	display: inline-block;
}
.navigation-menu-updates li:after {
	content: '';
	display: none;
	width: 0;
	height: 0;
	margin: 0 auto;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #195da4;
}
.navigation-menu-updates .active:after {
	display: block;
}
.navigation-menu-updates a:hover,
.navigation-menu-updates .active a{
	background-color: #195da4;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.navigation-menu-updates{
	margin: 20px 0 10px;
}
.block-text-alternate-views{
	display: block;
	text-align: center;
	margin: 20px 0 30px;
	color: #858593;
}
.icon-social-network li{
	display: inline-block;
	margin-right: 5px;
}
.icon-social-network li:last-child {
	margin-right: 0;
}
.icon-social-network{
	text-align: center;
}
.border-background-white-tou{
	border-bottom: 2px solid #fff;
	padding-bottom: 30px;
}
.information-found .count{
	display: inline-block;
	background-color: #f0ab40;
	border-radius: 30px;
	padding: 3px 0;
	color: #fff;
	margin-left: 4px;
	width: 22px;
	text-align: center;
	font-size: 11px;
}
.wrap-background p{
	color: #7e7e8c;
	text-align: left;
	font-size: 13px;
}
.slider-wrap .carousel-control.left{
	background: none;
}
.slider-wrap .carousel-control.right{
	background: none;
}
.slider-wrap .carousel {
	margin-bottom: 105px;
	background: #fff;
}
.background li:last-child{
	margin-right: 0px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

.footer{
	overflow: hidden;
	background-color: #7d7d8a;
	border-top: 1px solid #46464d;
	padding: 20px 0;
	margin-top: -275px;
}
.title-block{
	float: left;
	width: 280px;
	margin-right: 35px;
}
.header-block{
	font-weight: bold;
	font-size: 20px;
	color: #037244;
	margin-bottom: 25px;
	display: block;
}
.title-block li{
	margin-bottom: 18px;
}
.title-block a{
	text-decoration: none;
	font-size: 16px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/